<div class="wrapper fadeInDown">
  <div *ngIf="resetPassword" class="alert alert-success">
    Password has been reset successfully. Sign In!
  </div>
  <div *ngIf="registered" class="alert alert-success">
    Your account has been created.<br>
    <strong>Check your email to activate your account.</strong>
  </div>
  <div *ngIf="activated" class="alert alert-success">
    Your account has been activated. Sign In!<br>
  </div>
  <div *ngIf="serverErrors" class="alert alert-danger">
    {{serverErrors}}<br>
    <span *ngIf="inactive">
        You did not receive the activation link?<br>
         <strong><a class="underlineHover" [routerLink]="'/wip/activateaccount'">Click here!</a></strong>
    </span>
  </div>
  <div id="formContent" [class.invalid]="invalid">
    <h3>Sign In</h3>
    <div *ngIf="(submitted && form.invalid)" class="errors">
      <div class="error" *ngIf="form.get('password').hasError('required')">Password is required.</div>
      <div class="error" *ngIf="form.get('email').hasError('required')">E-mail is required.</div>
      <div class="error" *ngIf="form.get('email').hasError('email')">Invalid E-mail.</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
      <input [class.error]="submitted && form.get('email').invalid" type="email" id="text" class="fadeIn second" name="email" placeholder="E-mail" formControlName="email">
      <input [class.error]="submitted && form.get('password').invalid" type="password" id="password" class="fadeIn third" name="password" placeholder="Password" formControlName="password">
      <input [class.disabled]="loading" type="submit" class="fadeIn fourth" value="Log In" [disabled]="loading">
      <div *ngIf="loading">
        <div class="spinner-border text-primary"></div>
      </div>
      <div id="formFooter" class="fadeIn fourth">
        <a class="underlineHover" [routerLink]="'/wip/forgotpassword'">Forgot Password?</a>
        <a class="underlineHover" [routerLink]="'/wip/register'">Dont have account? Sign Up!</a>
      </div>
    </form>
  </div>
</div>
