<div class="wrapper fadeInDown">
  <div id="formContent" [class.invalid]="invalid">
    <h3>Sign in</h3>
    <div *ngIf="((submitted && form.invalid) || serverErrors)" class="errors">
      <div class="error" *ngIf="serverErrors">{{serverErrors}}</div>
      <div class="error" *ngIf="form.get('password').hasError('required')">Password is required.</div>
      <div class="error" *ngIf="form.get('email').hasError('required')">E-mail is required.</div>
      <div class="error" *ngIf="form.get('email').hasError('email')">Invalid E-mail.</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
      <input [class.error]="submitted && form.get('email').invalid" type="email" id="text" class="fadeIn second" name="email" placeholder="E-mail" formControlName="email">
      <input [class.error]="submitted && form.get('password').invalid" type="password" id="password" class="fadeIn third" name="password" placeholder="Password" formControlName="password">
      <input [class.disabled]="loading" type="submit" class="fadeIn fourth" value="Log In" [disabled]="loading">
      <div *ngIf="loading">
        <div class="spinner-border text-primary"></div>
      </div>
      <div id="formFooter" class="fadeIn fourth">
        <a class="underlineHover" href="#">Forgot Password?</a>
        <a class="underlineHover" href="#">Dont have account? Sign Up!</a>
      </div>
    </form>
  </div>
</div>
