::ng-deep body {
  background-color: white;
}
:host {
  width: 90%;
  display: flex;
  background-color: aliceblue;
  border-radius: 10px;
}
.row {
  width: 100%;
  display: flex;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
