<div class="wrapper fadeInDown">
  <div *ngIf="serverErrors" class="alert alert-danger">
    No user for given token.
  </div>
  <div id="formContent" [class.invalid]="invalid">
    <h3>Set new password</h3>
    <div *ngIf="(submitted && form.invalid)" class="errors">
      <div class="error" *ngIf="form.get('password').hasError('required')">Password is required.</div>
      <div class="error" *ngIf="form.get('password').hasError('minlength')">Password is too short.</div>
      <div class="error" *ngIf="form.get('password_confirmation').hasError('required')">Confirmation Password is required.</div>
      <div class="error" *ngIf="form.hasError('checkPasswords')">Confirmation Password do not match.</div>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
      <input [class.error]="submitted && form.get('password').invalid" type="password" class="fadeIn second" name="password" placeholder="New Password" formControlName="password">
      <input [class.error]="submitted && (form.get('password_confirmation').invalid || form.invalid)" type="password" class="fadeIn second" name="password_confirmation" placeholder="Confirm New Password" formControlName="password_confirmation">
      <input type="submit" class="fadeIn fourth" value="Reset Password" [disabled]="loading">
      <div *ngIf="loading">
        <div class="spinner-border text-primary"></div>
      </div>
      <div id="formFooter" class="fadeIn fourth">
        <a class="underlineHover" [routerLink]="'/wip/login'">Back to login</a>
      </div>
    </form>
  </div>
</div>
