:host {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}
.content {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
