<router-outlet (activate)="onRouteActivate()" (deactivate)="onRouteActivate()"></router-outlet>
<ng-container *ngIf="!childActivated">
  <div class="table-responsive" [ngStyle]="{'margin-top':'10px'}">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-mail</th>
        <th>Position</th>
        <th>Last Activity</th>
        <th>Is Active</th>
        <th>Is Deleted</th>
        <th>Is Admin</th>
        <th [colSpan]="4">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let user of users | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize'>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}<strong>{{loggedUser.uuid === user.uuid? ' (You)' : ''}}</strong></td>
        <td>{{user.position}}</td>
        <td>{{user.lastActivity || '-'}}</td>
        <td>{{user.activated}}</td>
        <td>{{user.deleted}}</td>
        <td>{{user.isAdmin}}</td>
        <td [ngStyle]="{'padding' : '0.5rem;'}">
          <button [disabled]="loading" type="button" class="btn btn-primary" [routerLink]="['/wip/admin/user/', user.uuid]">Edit</button>
        </td>
        <td *ngIf="!user.deleted">
          <button [disabled]="loading" type="button" class="btn btn-danger" (click)="deleteUser(user.uuid)">Delete</button>
        </td>
        <td *ngIf="user.deleted">
          <button [disabled]="loading" type="button" class="btn btn-success" (click)="restoreUser(user.uuid)">Restore</button>
        </td>
        <td *ngIf="!user.activated">
          <button [disabled]="loading" type="button" class="btn btn-success" (click)="activateUser(user.uuid)">Activate</button>
        </td>
        <td *ngIf="!user.isAdmin">
          <button [disabled]="loading" type="button" class="btn btn-success" (click)="makeAdmin(user.uuid)">Set Admin</button>
        </td>
        <td *ngIf="loading && chosenUuid === user.uuid">
          <div class="spinner-border text-primary"></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="wrapper">
    <ngb-pagination [collectionSize]="collectionSize"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    aria-label="Default pagination"></ngb-pagination>
  </div>
</ng-container>
